.creditsAvatar {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    gap: 10px;
}

.crewList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 10px;
    column-gap: 10px;
    align-items: start;
    row-gap: 20px;
}